@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("../../images/bg.jpg") no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
  font-family: "Space Grotesk", sans-serif;
}

.login-box {
  z-index: 1;
  margin-left: 560px;
  margin-top: -50px;
}
.after-btn {
  display: flex;
  justify-content: space-between;
}
.topnav {
  background-color: #000000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #a40606;
  color: white;
}
.color-overlay {
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.65;
  position: absolute;
}
.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
}
.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #a40606;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #a40606;
}
.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}
.logo {
  background-image: url("/imahe-bg.png");
}
a {
  color: white;
  text-decoration: none;
}
.navbar {
  font-weight: bold;
  font-size: 25px;
  margin-right: 30px;
  margin-top: 18px;
}
.btn:hover {
  background-color: #a40606;
  padding: 5px;
  margin: 12.5px 0;
}

.btn {
  width: 70%;
  background: none;
  border: 2px solid #a40606;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  display: inline-block;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.sign-up {
  width: 70%;
}
