<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/procedure.css" />
    <title>Procedure</title>
  </head>
  <body>
    <header>
      <h1>BITNEWS</h1>
    </header>
    <main class="container">
      <h3>Introduction Part</h3>
      <p class="para">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium
        inventore totam laudantium hic suscipit, necessitatibus aliquid
        exercitationem quam corporis minima! Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Doloribus quae pariatur nobis eveniet
        autem omnis libero sapiente iste corrupti. Fuga? Lorem ipsum dolor sit,
        amet consectetur adipisicing elit. Accusantium inventore totam
        laudantium hic suscipit, necessitatibus aliquid exercitationem quam
        corporis minima! Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Doloribus quae pariatur nobis eveniet autem omnis libero sapiente
        iste corrupti. Fuga? Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Accusantium inventore totam laudantium hic suscipit,
        necessitatibus aliquid exercitationem quam corporis minima! Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Doloribus quae pariatur
        nobis eveniet autem omnis libero sapiente iste corrupti. Fuga?
      </p>
      <p class="para">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium
        inventore totam laudantium hic suscipit, necessitatibus aliquid
        exercitationem quam corporis minima! Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Doloribus quae pariatur nobis eveniet
        autem omnis libero sapiente iste corrupti. Fuga?
      </p>
      <p class="para">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium
        inventore totam laudantium hic suscipit, necessitatibus aliquid
        exercitationem quam corporis minima! Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Doloribus quae pariatur nobis eveniet
        autem omnis libero sapiente iste corrupti. Fuga?
      </p>
      <p class="command">
        git init <br />
        git commit -m "This is the commit message" <br />
        git push -u origin main
      </p>
      <br />
      <br />
      <h3>Setting up enviroment</h3>
      <p class="para">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium
        inventore totam laudantium hic suscipit, necessitatibus aliquid
        exercitationem quam corporis minima! Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Doloribus quae pariatur nobis eveniet
        autem omnis libero sapiente iste corrupti. Fuga? Lorem ipsum dolor sit,
        amet consectetur adipisicing elit. Accusantium inventore totam
        laudantium hic suscipit, necessitatibus aliquid exercitationem quam
        corporis minima! Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Doloribus quae pariatur nobis eveniet autem omnis libero sapiente
        iste corrupti. Fuga? Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Accusantium inventore totam laudantium hic suscipit,
        necessitatibus aliquid exercitationem quam corporis minima! Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Doloribus quae pariatur
        nobis eveniet autem omnis libero sapiente iste corrupti. Fuga?
      </p>
    </main>
  </body>
</html>
